<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kutyák</title>
   
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style2.css">
</head>

<body>
 
    <div class="container-fluid" ng-app="kutyaApp" ng-controller="kutyaController">
  
        <input type="text" id="kereso" ng-model="search" placeholder="Keresés..." class="form-control mb-3">
        

        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sorszám</th>
                                <th>Név</th>
                                <th>Fajta</th>
                                <th>Életkor</th>
                                <th>Utolsó orvosi ellenőrzés</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="kutya in kutyak | filter: search">
                                <td>{{$index + 1}}</td>
                                <td>{{kutya.nev}}</td>
                                <td>{{kutya.fajta}}</td>
                                <td>{{kutya.eletkor}}</td>
                                <td>{{kutya.utolso}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var app = angular.module('kutyaApp', []);
        app.controller('kutyaController', function($scope, $http) {
         
            $http.get('kutyak.json').then(function(response) {
                $scope.kutyak = response.data;
                console.log($scope.kutyak); 
            });
            
         
            $scope.search = '';
        });
    </script>
</body>
</html>
