@font-face {
  font-family: waa;
  src: url(LobsterTwoItalic-ZZ5z.ttf);
}

*{
  font-family: waa;
}

body {
    font-family: waa;
    margin: 0;
    padding: 0;
    background-color: #559CAD;
    
  }
  
header {
    background-color: #4A5899;
    color: #3e58cc;
    padding: 20px 0;
    text-align: center;
  }

h1, h2 {
    margin-top: 0;
  }
.wrapper{
  background-color: #C1B2AB;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

.feature {
    background-color: #8C5383;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    text-align: center;
  
  }

.button {
    display: inline-block;
    background-color: #000000;
    color: #C1B2AB;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
  }

.button:hover {
    background-color: #272727;
  }

.dog-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

@media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  }